# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/app/src/main/java/
*.jks

# IDE
.idea/
*.iml
.vscode/
